<script setup lang="ts">
import { ref } from 'vue'
let show = ref<boolean>(false)
let variable = ref<string>('Tangina')
</script>

<template>
	<div class="about">
		<button @click="show = !show">Toggle</button>
		<transition name="bounce">
			<p v-if="show">hello</p>
		</transition>
		<h1>This is an about page</h1>
	</div>
</template>

<style>
.bounce-enter-active {
	animation: bounce-in 0.5s;
}

.bounce-leave-active {
	animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
	0% {
		transform: scale(0);
	}

	50% {
		transform: scale(1.25);
	}

	100% {
		transform: scale(1);
	}
}

@media (min-width: 1024px) {
	.about {
		min-height: 100vh;
		display: flex;
		align-items: center;
	}
}
</style>
