<script setup lang="ts">
import axios from 'axios'
import { ref, onMounted, type Ref } from 'vue'

let formData: Ref<null> = ref<null>(null)
let total: Ref<number> = ref<number>(0)


function submitForm(): void {
	const fd: Ref<FormData | null> = ref<FormData | null>(null)
	if (formData.value !== null) {
		fd.value = new FormData(formData.value)
	} else {
		const element: HTMLFormElement | null = document.querySelector('#formData')
		fd.value = element ? new FormData(element) : null
	}
	axios({
		url: `https://dw9h3iqj19.execute-api.ap-southeast-2.amazonaws.com/test/addition`,
		method: `post`,
		headers: {
			'Content-Type': 'application/json',
		},
		data: fd,
		responseType: 'json',
	}).then(response => {
		total.value = response.data.total
		console.log(response.data.total)
	}).catch(error => {
			console.error(`Error submitting the form:`, error);
		});
}
</script>

<template>
	<form ref="formData" id="formData" @submit.prevent="submitForm">
		<input type="number" name="num_one"><br>
		<input type="number" name="num_two"><br>
		<span>Result: </span>{{ total }}
		<button type="submit">Add</button>
	</form>
</template>

<style></style>