<template>
  <div>
    <h1>Login</h1>
    <form @submit.prevent="login">
      <input type="text" v-model="username" placeholder="Username" />
      <input type="password" v-model="password" placeholder="Password" />
      <button type="submit">Login</button>
    </form>
  </div>
</template>

<script setup>
  import { ref } from 'vue';
  import axios from 'axios';
  import { useRouter } from 'vue-router'

  const username = ref('');
  const password = ref('');
  const router = useRouter()

  const login = () => {
    axios
    .post('/login', { username: username.value, password: password.value })
    .then((response) => {
      console.log(response.data.access_token);
      localStorage.setItem('access_token', response.data.access_token)
      // Save the token to local storage or a cookie for subsequent requests
      // For simplicity, we will just log the token here
      // Redirect to protected page after successful login
      router.push('/protected');
    })
    .catch((error) => {
      console.error(error.response.data.message);
    });
  };
</script>