<template>
	<div>
		<h1>Protected Route</h1>
		<p>This is a protected route that requires authentication.</p>
		<p>You can access this route only if you are logged in.</p>
		<button @click="logout">Logout</button>
	</div>
</template>

<script setup>
	import { useRouter } from 'vue-router';
	import axios from 'axios';

	const router = useRouter();
	axios
	    .get('/protected', {
	    	headers: {
		      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJmcmVzaCI6ZmFsc2UsImlhdCI6MTY5MTExODk1NSwianRpIjoiNTgzMjU5ZmMtODNlMC00NWZmLWFhOGQtZGFiODNkNTUxZjk2IiwidHlwZSI6ImFjY2VzcyIsInN1YiI6InNhIiwibmJmIjoxNjkxMTE4OTU1LCJleHAiOjE2OTExMTk4NTV9.l16jbSw1QLjM4qDqmVeHLPPwDfrolMPvgjYopBQZkic'
		    }
		})
	    .then((response) => {
	    	console.log(response.status)
			console.log(response.data.message);
			console.log(response.data.user);
	    })
	    .catch((error) => {
	    	console.log(error)
	      // console.error((error.response) ? error.response.data.message:error);
	    });
	const logout = () => {
		localStorage.removeItem('access_token')
	  // Clear the token from local storage or a cookie
	  // For simplicity, we will just log "Logged out" here
	  console.log('Logged out');

	  // Redirect to login page after logout
	  router.push('/login');
	};
</script>