<template>
  <div>
    <h1>Register</h1>
    <form @submit.prevent="register">
      <input type="text" v-model="username" placeholder="Username" />
      <input type="password" v-model="password" placeholder="Password" />
      <button type="submit">Register</button>
    </form>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import axios from 'axios';
import { useRouter } from 'vue-router'

const username = ref('');
const password = ref('');
const router = useRouter()

const register = () => {
  axios
    .post('/register', { username: username.value, password: password.value })
    .then((response) => {
      console.log(response.data.message);
      // Redirect to login page after successful registration
      router.push('/login');
    })
    .catch((error) => {
      console.error((error.response) ? error.response.data.message:error);
    });
};
</script>